{% extends 'front_office/layout.html.twig' %}

{% block links %}
    {{ encore_entry_link_tags('accounting', null, 'front_office') }}
{% endblock %}

{% block title %}Gestion Adresse{% endblock %}

{% block main %}
    <hr class="sep-header">
    <h1 class="pop-sBold panier_title">Adresse</h1>

    <section class="adressUpdate pop">
        {% include '@fo/forms/address-form.html.twig' %}
    </section>
    <input type="submit" form="address-form" value="{{ actionMode ?? 'add'|trans|raw }}" class="btn btn-primary">
    <a href="{{ path('account') }}">{{ 'back'|trans }}</a>

{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('accounting', null, 'front_office') }}
{% endblock %}